################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Finished sample/Marvin.IDP/obj
Starter files/.vs/
Starter files/TourManagement.API/bin/
Starter files/TourManagement.API/obj/
Starter files/TourManagement.Client/package-lock.json
Starter files/TourManagement.Client/package.json
Starter files/TourManagement.Client/package-lock.json
